.maincarddiv{
    max-width: 80%;
    max-height: 15%;
    background-color: rgb(112, 100, 100);
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color:  transparent;
    opacity: 0;
    transition: 0.3s;
    animation: show 3s 1; 
    animation-fill-mode: forwards; 
    animation-delay: 1s;
}
.maincarddiv:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.FirstButton{
  
    color: #fff;
  background-color: #08062b;
  padding: 5px;
  border: none;
  border-radius: 15px;
  margin-left:-18px;
  border: 2px solid #ccc;
  background-color:  transparent;
  
}
.SecondButton{
  
    color: #fff;
  background-color: #08062b;
  padding:5px;
  border: none;
  border-radius: 20px;
  margin-right: -18px;
  border: 2px solid #ccc;
  background-color:  transparent;
}
.closecardbtn{
  color:white;
    float:right;
    margin-top:-20px;
    margin-right:-20px;
    cursor:pointer;
    border: 1px ;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
  
    font-size: 90%;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px; 
}
.cardbuttondiv{
  display : flex;
  justify-content: space-between;
}